#postlist li {
    list-style-type: none,
}

.ridearticle {
    padding: 12px 12px;
    margin-top: 10px;
    text-align: left;
    background-color: white;
    width: 95%;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

.person {
    width: 75%;
}

.tags {
    text-align: center;
}

.tag {
    border-style: solid;
    border-radius: 20px;
    padding: 5px;
}

.icon {
    margin-top: auto;
    margin-bottom: auto;
}